// Bootstrap
@import "bootstrap/scss/bootstrap";

body {
    min-height: 100vh;
    background-color: var(--bs-body-bg);
}

main {
    min-height: 70vh;
}

.navbar-brand {
    letter-spacing: 0.05rem;
}